{% extends "base.html" %}

{% block content %}
<h2><strong>{{ object.id }}</strong></h2>

<table class="grid">
  <tbody>
    <tr>
      <th>Entry date</th>
      <td>{{ object.entry_date }}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td><a href="{{ object.name.get_absolute_url }}">{{ object.name }}</a></td>
    </tr>
    <tr>
      <th>Collection Area</th>
      <td><a href="{{ object.collection_area.get_absolute_url }}">{{ object.collection_area }}</a></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <a href="{% url 'autonumber_update' object.pk %}" class="button edit">Edit</a>
        <a href="{{request.META.HTTP_REFERER}}" class="button">Go back</a>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
