{% extends "base.html" %}

{% block content %}
{% if object %}
<h2><strong>{{ object.id }}</strong></h2>
{% endif %}

<form method="post">
  {% csrf_token %}

  <table class="grid">
    <tbody>
      <tr class="field">
        <th>{{ form.entry_date.label_tag }}</th>
        <td>{{ form.entry_date }}</td>
      </tr>

      <tr class="field">
        <th>{{ form.collecting_area.label_tag }}</th>
        <td>{{ form.collecting_area }}</td>
      </tr>

      <tr class="actions">
        <th></th>

        <td>
          <button type="submit" class="create">Save</button>
          <a href="{% url 'autonumber_list' %}" class="button delete">Cancel</a>
        </td>
      </tr>
    </tbody>
  </table>
  {{ form.name }}
</form>
{% endblock %}
