{% extends "base.html" %}

{% block content %}

<div style="padding-bottom: 10px;">
  {% if is_paginated %}
  {% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}" class="button">&laquo;</a>
  {% else %}
  <span class="button">&laquo;</span>
  {% endif %}

  {% for i in elided_page_range %}

  {% if i == paginator.ELLIPSIS %}
  <span class="button disabled">...</span>

  {% elif page_obj.number == i %}
  <strong class="button">&nbsp;{{ i }}&nbsp;</strong>

  {% else %}
  {# Keep the 'sort' parameter if it exists #}
  <a href="?page={{ i }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}" class="button">
    &nbsp;{{ i }}&nbsp;
  </a>
  {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}" class="button">&raquo;</a>
  {% else %}
  <span class="button">&raquo;</span>
  {% endif %}
  {% endif %}

  <a href="{% url 'collecting_area_create' %}" class="button create">New</a>
</div>

<table class="grid">
  <thead>
    <tr>
      <th><a href="?sort=name">Name</a></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for collecting_area in object_list %}
    <tr>
      <td><a href="{{ collecting_area.get_absolute_url }}">{{ collecting_area.name }}</a></td>
      <td>
        <form method="GET" action="{% url 'collecting_area_update' collecting_area.pk %}">
          <button class="edit" type="submit">Edit</button>
        </form>
      </td>

      <td>
        {% if not collecting_area.auto_numbers.all %}
        <form method="GET" action="{% url 'collecting_area_delete' collecting_area.pk %}">
          <button class="delete" type="submit">Delete</button>
        </form>
        {% else %}
        <button disabled="disabled">Delete</button>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
