{% extends "base.html" %}

{% block content %}

{% if object %}
<h2><strong>{{ object.id }}</strong></h2>
{% else %}
{% endif %}

{% include "includes/form_errors.html" with form=form %}

<form method="post">
  {% csrf_token %}
  <table class="grid">
    <tbody>
      <tr>
        <th><label for="{{ form.initials.id_for_label }}">Initials</label></th>
        <td>{{ form.initials }}</td>
      </tr>
      <tr>
        <th></th>
         <td>
          <button type="submit" class="create">Save</button>
          <a href="{% url 'name_list' %}" class="button delete">Cancel</a>
        </td>
      </tr>
    </tbody>
  </table>
</form>
{% endblock %}
